* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 5vw 45vw 50vw;
	grid-template-areas: "sidebar img article";
	overflow: hidden;
}
.sidebar{
	height: 100vh;
	padding: 2em 0 2em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	grid-area: sidebar;
	svg, .hamburger{
		cursor: pointer;
	}
}
.image-container{
	grid-area: img;
	position: relative;
	overflow: hidden;
}
#image1{
	
	display: flex;
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
	z-index: 1000;
}
#image2{
	
	display: flex;
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
	z-index: 999;
	top: -100vh;
}



.article{
	grid-area: article;
	height: 100vh;
	overflow-y: scroll;
	padding: 2em;
}
.text-wrapper{
	font-family: 'Barlow', sans-serif;
	line-height: 1.5;
	word-spacing: 2px;;
	padding-top: 2em;
	font-size: 1.1em;
}

.headline-wrapper{
	font-family: 'Playfair Display', serif;
	h1{
		font-size: 5em;
		margin-top: 0;
	}
	h3{
		display: inline-flex;
		color: #ffffff;
		font-size: 0.7em;
		align-items: center;
		justify-content: center;
		padding: 1em;
		width: auto;
		background-color: rgb(0, 0, 0);
		border-radius: 0.5em;
		letter-spacing: 3px;
	}
}
.top{
	height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 2em;
}
.logo{
	font-size: 4.2em;
	font-family: 'Playfair Display', serif;
	font-weight: bolder;
}
.text-wrapper p {
    line-height: 35px;
    margin-bottom: 25px; }
.text-wrapper p:first-child:first-letter {
      float: left;
      font-size: 65px;
      line-height: 60px;
      padding-top: 5px;
	  padding-right: 12px; 
	}
.expanded{
	width: 10vw;
	z-index: 10000;
}
.separator{
	width: 100%;
	height: 1em;
	background-color: black;
	display: block;
	margin-top: 3em;
	margin-bottom: 3em;
}

